<div id="notice">
		<%= render 'notice_messages' %>
	</div>
<div class="text-center main-container">
	<h1 >Roman Calculator</h1>
	<div class="col-md-12">
		<%= form_for('calc', url: root_path, :method => :get, remote: :true) do |f|%>
  		<p>
		    <%= f.text_field :operand_1, :required => true %>
		    <%= f.select("operator", options_for_select(['+','-','*','/'])) %>
		    <%= f.text_field :operand_2, :required => true %>
		    <%= f.submit "Calculate" %>
		  </p>
		<% end %>
	</div>
	<div id="answer">
		<%= render 'answer' %>
	</div>
</div>